<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cooperative-heading" jhiTranslate="myblogApp.cooperative.home.createOrEditLabel">Create or edit a Cooperative</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myblogApp.cooperative.adress" for="field_adress">Adress</label>
                    <input type="text" class="form-control" name="adress" id="field_adress"
                           formControlName="adress"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="myblogApp.cooperative.commerce" for="field_commerce">Commerce</label>
                    <select class="form-control" id="field_commerce" multiple name="commerce" formControlName="commerce">
                        <option [ngValue]="getSelected(editForm.get('commerce')!.value, commerceOption)" *ngFor="let commerceOption of commerce; trackBy: trackById">{{ commerceOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
